@{
    ViewData["Title"] = "Home";
}
@model SS13Stats.Frontend.Models.ServerListModel;
@using SS13Stats.Frontend.Database; 

<h1 class="display-4 text-light">Server List</h1>
<p class="text-light"><i>Servers with &lt;5 players will not have their samples stored. This may cause gaps/inconsistencies in the graphs.</i></p>
<table class="table table-striped table-dark table-hover">
    <thead>
        <tr>
            <th scope="col" width="80%">
                Server Name
            </th>
            <th scope="col" width="20%">
                Current Playercount
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(Snapshot S in Model.servers) {
        <tr>
            <th scope="row" width="80%" class="text-break"><a class="text-white" asp-area="" asp-controller="Base" asp-action="GetServer" asp-route-serverid="@S.Server.Id"><u>@S.Server.ServerName</u></a></th>
            <td width="20%">@S.PlayerCount</td>
        </tr>
        }
    </tbody>
</table>

